.Forecast h1 {
  color: var(--primary-color);
  font-size: 12px;
  text-align: start;
  margin-left: 35px;
}
.Forecast .form-search {
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 1px#d0dbe0;
  max-width: 420px;
  margin: auto 20px;
}
.Forecast .btn {
  color: #75797f;
  background-color: white;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 1px#d0dbe0;
  margin: auto 20px;
  max-width: auto;
}
