.ForecastInfo .weather {
  margin: 10px 30px 30px;
}
.ForecastInfo .date {
  color: var(--primary-color);
  font-size: 13px;
  margin-top: 20px;
}
.ForecastInfo .city {
  font-size: 30px;
  margin: 0;
}
.ForecastInfo .description {
  color: var(--primary-color);
  line-height: 1;
  font-size: 15px;
}
.ForecastInfo .description::first-letter {
  text-transform: capitalize;
}
.ForecastInfo .celsius-degrees {
  font-size: 27px;
  margin: -5px 2px 5px;
}
.ForecastInfo .degrees {
  font-size: 15px;
  margin: 0 10px 15px 15px;
}

.ForecastInfo .weather-analysis {
  font-size: 18px;
  font-weight: 480;
  list-style: none;
  margin: 80px 30px 30px -30px;
  text-align: center;
}
@media (max-width: 600px) {
  .ForecastInfo .weather {
    margin-top: -55px;
  }

  .ForecastInfo .weather-analysis {
    margin: 5px;
    text-align: center;
  }
}
