.Forecast h1 {
  color: var(--primary-color);
  font-size: 12px;
  text-align: start;
  margin-left: 35px;
}
.Forecast .form-search {
  border: 1px solid var(--border-color);
  max-width: 420px;
  margin: auto 20px;
}
.Forecast .btn {
  color: #75797f;
  background-color: white;
  border: 1px solid var(--border-color);
  margin: auto 20px;
  max-width: auto;
}
.Forecast .weather {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 30px;
}
.Forecast .date {
  color: var(--primary-color);
  font-size: 15px;
  margin-top: 20px;
}
.Forecast .city {
  font-size: 30px;
  margin: 0;
}
.Forecast .description {
  color: var(--primary-color);
  line-height: 1;
  font-size: 15px;
}
.Forecast .description::first-letter {
  text-transform: capitalize;
}
.Forecast .degrees {
  font-size: 15px;
  margin-top: -15px;
}

.Forecast .weather-analysis {
  font-size: 18px;
  list-style: none;
  margin: 80px 30px 30px -30px;
  text-align: center;
}
