.FullWeekForecast .temp {
  font-size: 12px;
}
.FullWeekForecast .week-days {
  font-weight: 600;
}
.FullWeekForecast .col {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 3px;
  padding: 10px;
}
